[2022-08-14 05:23] gbowne1 opened #3 "Navbar"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-15 21:48] prakhartiwari2507 commented on #3
I could help you with that. May I?

[2022-08-15 21:50] prakhartiwari2507 commented on #3
Can you name the categories and what tabs you want to be inside them? I will help in the creation.

[2022-08-15 22:42] gbowne1 commented on #3
That would be great @prakhartiwari2507 ..

Here is a screen shot from a recent render..

![Screenshot 2022-08-13 at 21-36-29 Seattle Precision Machine Shop](https://user-images.githubusercontent.com/47549872/184730038-3e1496ac-a17b-4aed-b26e-b95e1d33f610.png)

I was thinking that "About" and "History" could be one menu

The next menu would have "Materials", "Capabilites", "Services", "Equipment" a

[2022-08-16 01:22] gbowne1 opened #4 "Add Footer to index.html"
index.html does not have a footer.

Add a footer that includes:

- Shop Business Name
- Address (assuming USA)
- Phone
- Fax
- email address contact
- FontAwesome Social Icons
- Business hours (assuming Monday - Friday)
- Copyright info with Business Name, Host or Developer {with link}

Google Maps // Pin?

[2022-08-16 01:32] gbowne1 opened #5 "Add FontAwesome Social Icons"
This template site does not have any FontAwesome Social Icons either on footer or header

Either placement would be ok.

Add placeholder icons for Instagram, Facebook, LinkedIn, Yelp, Twitter, etc. so that the user can use it to add their appropriate links.

[2022-08-16 01:32] gbowne1 opened #6 "Update CDN's"
Update any out of date CDN's and make sure that the following are included.

- Bootstrap
- Fontawesome
- jQuery
- Popper // PopperJS
- Google Fonts

[2022-08-16 03:13] gbowne1 commented on #4
Also a Terms and Conditions and Privacy Policy (link to a PDF file??)

[2022-08-16 04:40] prakhartiwari2507 commented on #5
Sure, I will be doing so.

[2022-08-16 04:46] prakhartiwari2507 commented on #3
Hey, I was exploring the code and found it too messy, can you try to clean up it a little bit? The divs, navs, and many other things are very nested and are making it difficult to understand what to change.

[2022-08-16 05:19] gbowne1 commented on #3
It is a bit nested.  A lot of it has to do with Bootstrap.  I'll look into it.  Is there any particular reason it is hard though?

[2022-08-16 05:32] gbowne1 opened #7 "Add Google SEO meta"

[2022-08-16 05:32] gbowne1 opened #8 "Add Jobs / Careers page as careers.html or jobs.html"
s for the Job / Employment Application / Careers page it should be something like this:

https://codesandbox.io/s/job-application-form-6648hu

but also list available positions.. so it should not only serve as a place for people to:
- Fill in their contact details including
   Website URL, GitHub Link, email address(es), home/office/mobile phone, etc.
- List 3 references and their contact informat

[2022-08-16 05:32] gbowne1 opened #9 "Add a About page as about.html"
This template currently does not have a about.html page which would include a 150 word or less descripton of:

- Business History
- Call to action to go to Capabilities. etc. page(s) in the Nav.
- Bootstrap cards to show off core team members // staff {minimum of 3 cards}

[2022-08-16 05:32] gbowne1 opened #10 "Add Quotes page as quote, quotes or rfq.html"
Add a RFQ or Quote/Quotes page as quote, quotes, or rfq.html

This page should be mostly like a contact page, but provide a means for the user wishing to make a quote request or request for quote (rfq) to attach and upload their documentation, i.e. .png, jpeg/jpg, gif, pdf, CAD files like .dwg, dxf, step, iges files.

The form should gather information to the database such as:

Business Name (if t

[2022-08-16 05:32] gbowne1 opened #11 "Add Contact page as contact.html"
Add a Contact page with:

- Bootstap
- FontAwesome

Fields:

Business Name {name of the business
Address: {assuming USA} Street address, City/Town, County, State, Zip Code/Post Code w/4 digit allowed} and country
Contact Name: {Business contact name}
Name: {if person requesting a quote is an individual not associated with a business
Website: {website of business or individual}
Email: {email addres

[2022-08-16 06:15] prakhartiwari2507 commented on #3
Oh, Bootstrap, I actually work from scratch projects, I know a little bit of bootstrap, but not much. If you would like to make the website from scratch then I can help with that, but if Bootstrap is used, I will not be helpful for you sadly.

[2022-08-16 06:18] gbowne1 commented on #3
Oh ok, yeah Bootstrap requires a lot of different stuff with div's. This isn't a fully from scratch project as I already have offered the beginngs of a index.html and the css.

[2022-08-16 07:13] Vansh-Baghel commented on #3
OK so u want to reduce and give styling to the navbar
And it must be _dropdown_ with reduced categories
**Anthing else?**

[2022-08-16 07:20] Vansh-Baghel commented on #3
Do you want me to remove bootstrap and make it using pure css and html?

[2022-08-16 12:51] Rmichal503 commented on #3
I also think that Bootstrap here is unnecessary, for such small site better solution will be pure css

[2022-08-16 13:33] SifonSolomon commented on #4
I would love to work on this project.

[2022-08-16 13:43] joleschmidt commented on #9
Hey @gbowne1, I would like to work on the page. Could you assign me to the issue?

[2022-08-16 16:05] gbowne1 commented on #9
Ok. Added you.

[2022-08-16 16:06] gbowne1 commented on #4
Okay. I have added you.

[2022-08-16 16:44] gbowne1 opened #16 "Browser Support"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

# Browser Support

The targets I would like to support are:

Chrome
Chro

[2022-08-16 18:36] Dikshatomarr commented on #5
I'm willing to work on this issue.

[2022-08-16 19:18] gbowne1 commented on #5
Thank you.  You can work on the issue.

[2022-08-16 19:26] Rmichal503 commented on #10
I can do this page and also contact but I need more info about what you want on them

[2022-08-16 19:26] SifonSolomon commented on #4
ok

[2022-08-16 19:30] Rmichal503 commented on #10
maybe you thought about rewriting the page on React it'll be easier to move thru contact/jobs/quotes etc by implementing Routing, if you want I also can rewrite whole page to React

[2022-08-16 19:32] gbowne1 commented on #5
I have assigned both of you

[2022-08-16 21:23] gbowne1 commented on #10
I am adding the details to the initial post above.

As for REACT, not at this point, that could be done as either a seperate project or as a different or a feature branch.. but right now that would b e beyond the scope of this project.

[2022-08-16 22:33] gbowne1 commented on #16
My research indicates for a variety of tablet and phone devices, the screen size breakpoints should be

- Tablet  {760 to 820} x {1024 to 1280}

- Phone: {300 to 500} x {600 to 1024}

  There appears to be 3 different general sizes of phones.

- Desktop: {more research needed}

[2022-08-16 22:37] gbowne1 commented on #5
This issue was resolved today but here is the current render.

[2022-08-16 22:49] gbowne1 commented on #5
In Firefox v103 I can only see the top 3/4 of the page and it does not scroll.

[2022-08-16 22:59] gbowne1 opened #20 "feat: Live Chat feature/widget"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Add a Live Chat feature using something like this using the livechat API

[2022-08-16 23:10] gbowne1 opened #21 "Current Render & Footer Styling, Fix responsiveness and scrolling, etc."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-16 23:12] gbowne1 commented on #21
Note: I added several colors for clarity in which tags get styled.

The top aside exists underneath the green and white panel.

The bottom aside isnt currently displaying, only able to be captured with a Screenshot in Firefox 103 since the page does not scroll.

[2022-08-17 04:06] developer-irfan commented on #11
Hello @gbowne1 i want to contribute on this, i will create contact page with given fields or fonts with given validations.

[2022-08-17 05:01] gbowne1 commented on #11
Sure, if you would like to work on this I can assign you to it. @developer-irfan

[2022-08-17 11:03] Rmichal503 commented on #10
@gbowne1  okey, you can assign me to this issue, if you want that user can send rfq we have to use something like Emailjs or write whole backend which handle email service, there is no other way. Firstly I do frontend (styling, form etc) and next we will see how do you want to do this

[2022-08-17 15:42] gbowne1 commented on #10
Ok, I have assigned you.

This is a template site, so ideally the best solution would be so that the end user would not have to do a lot of work to get the site running.

Including unpacking the database SQL etc.

Perhaps even go as far as using the included workflows and actions to build and test the site.

[2022-08-17 16:52] VincentWoglo commented on #5
When I forked the repository, same happened on my end.

[2022-08-17 17:09] gbowne1 commented on #5
Should be fixed as of now.

Make sure youre up to date.  I merged changes that should take care of that issue.

Let me know.  I wont be back for 3-4 more hours to test.

[2022-08-17 19:14] Rmichal503 commented on #16
I think that 3 breakpoints will be enough
- max-width 576px (phones)
- max-width 1024px (tablets)
- and above

[2022-08-17 19:27] gbowne1 commented on #16
Yes I agree.

[2022-08-17 20:34] Rmichal503 commented on #8
@gbowne1 give more info about what you want on this page, some overall vision and you can assign me

[2022-08-17 20:41] gbowne1 commented on #8
I am almost finished my work and on my way back.

I've added you to the taotnpwaft website team. Plenty to do there. See the TODO and Website.md and the issues tab. index.html and index.php are the same file but the php one loads the components so they are reuseable.

I will give some description for jobs/careers in the next hour or so.

[2022-08-17 20:54] Rmichal503 commented on #8
I saw that Im in this team and bit earlier I forked repository with website, what can I say.. its messy. There's lot of work and with PHP, SQL or JQuery I cannot help. I need little bit of time to really familiar with the code but unfortunately only
after the weekend

[2022-08-17 21:28] #11 closed

[2022-08-17 21:33] #10 closed

[2022-08-17 21:44] gbowne1 commented on #21
Issue fixed in #22 . Closing this issue.

[2022-08-17 21:44] #21 closed

[2022-08-17 21:46] gbowne1 commented on #9
As for an about page I would suggest something like this.. with some blank cards to add the items in the OP ^^..

[Our Team](https://www.w3schools.com/howto/howto_css_team.asp)

[2022-08-17 21:47] gbowne1 commented on #5
It works, I tested it.  Might be a slight problem with your local.

[2022-08-17 21:52] gbowne1 commented on #8
Yes, there's a lot to do there but feel free to contribute where you are able to.  It is a mess, but can only get better through contributions and ideas.

No worries at all.  Take your time to get to know the project and if you need any help or have some ideas ideas I can provide some details.

PHP is only there mainly while I am setting up the actual server hardware, domain and hosting.  Which sh

[2022-08-17 22:02] gbowne1 commented on #8
Updated the requirements for this.

[2022-08-17 22:35] #4 closed

[2022-08-17 23:07] gbowne1 opened #30 "Footer"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-17 23:08] gbowne1 commented on #20
Not sure where I would add this but it seems useful to have a live chat.

[2022-08-17 23:21] #5 closed

[2022-08-17 23:27] gbowne1 commented on #6
Current CDN's appear to be fine and working..

Closing this issue.

[2022-08-17 23:27] #6 closed

[2022-08-18 00:04] gbowne1 opened #32 "Gallery page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-18 00:11] gbowne1 opened #33 "feat: Figma // Draw.io Template && UML diagram"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Some things might help design processes here:

- Add a Figma
- Add a UML

[2022-08-18 00:18] gbowne1 opened #34 "feat: Site Backgrounds and Images"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

I would suggest using for the background {between the header and footer}

[2022-08-18 10:02] joleschmidt commented on #9
@gbowne1 looks good! do you want me to install bootstrap globally or should i embed it via link in the about page html?

[2022-08-18 10:57] Darrkzero commented on #30
I will like to help do you have the necessary information to fill those part

[2022-08-18 14:06] joleschmidt commented on #9
@gbowne1 I have finished the about page so far and oriented myself to the existing pages. Currently, there are 3 team member cards, but I could add some more if needed. I would create a pull request for the page, so you can have a look at it. If you have some more suggestions, please let me know.

[2022-08-18 15:09] joleschmidt commented on #9
sorry.. i unassigned me accidentally. could you please assign me again?

[2022-08-18 16:10] gbowne1 commented on #9
Any dependencies should first be CDNs.. we can download and install them when we are close to 1.0

[2022-08-18 17:29] gbowne1 opened #37 "feat: Google Lighthouse testing {Chrome DevTools}"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

At this point I would tag our site template V0.1.0  -0.2.0

It needs tes

[2022-08-18 18:37] gbowne1 commented on #30
Yeah, I do.

This is a website tempate so contact details can be random left for the end user to fill in.

[2022-08-18 19:25] gbowne1 commented on #30
It would be also great if the Footer was a reuseable component appearing in most of the pages.

[2022-08-18 19:33] gbowne1 commented on #34
Here are some typical images to add in the quality page.. put them in a /assets/ folder/directory

ISO 9001
https://www.google.com/search?source=univ&tbm=isch&q=iso+9001+images

AS9100
https://www.google.com/search?q=as9100+images

Also add:
- BBB image to Footer

[2022-08-18 19:40] gbowne1 commented on #9
I am back.. Tested this.  Looks good!  Just needs some overall polishing.

[2022-08-18 19:55] pranavmadhu01 commented on #30
then it would be better if we do the website in reactjs

[2022-08-18 20:09] gbowne1 commented on #30
PHP would do it too.  just add a /components folder/directory and use a PHP include linked to each component.

Related:
https://www.php.net/manual/en/function.include.php

You would have something like header.php or footer.php in the /components folder/dir and just link it.  Thats how the TAOT site works right now.

I don't know if JS, jQuery or Ajax would statically do that.  May require building

[2022-08-18 20:12] gbowne1 opened #38 "feat: Capabilities page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-18 20:17] gbowne1 opened #39 "feat: Blog page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Add a blog page to this site template as blog.html

This would be a lot

[2022-08-18 20:18] #9 closed

[2022-08-18 20:25] gbowne1 commented on #30
At some point we could releast the template as a React project, .NET/IIS and a Wordpress template... that would increase useablitliy across multiple genres.  Not every business wants or uses the same technologies.

[2022-08-18 20:28] gbowne1 commented on #33
Resource for learning UML:
https://www.tutorialspoint.com/uml/uml_standard_diagrams.htm

Don't wanna use Figma, Draw.io there is:

LucidChart https://www.lucidchart.com/blog/types-of-UML-diagrams
SmartDraw https://www.smartdraw.com/uml-diagram/
Creately https://creately.com/blog/diagrams/uml-diagram-types-examples/

[2022-08-18 21:32] gbowne1 opened #40 "index.html Overflow issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-18 21:37] gbowne1 commented on #40
Also minor issue with Article where it passes under the light green&white section as shown as the gray part here:

![Screenshot 2022-08-18 at 14-33-58 Seattle Precision Machine Shop](https://user-images.githubusercontent.com/47549872/185499342-d5abbeb5-b743-483f-bc3e-d7ecc42487a6.png)

This should be relegated / kept only to the right of the light green/white main section.

[2022-08-18 21:47] Sarabjeet108 commented on #40
will adding a class in the required tags and using `overflow: auto;` fix the issue?

[2022-08-18 21:48] gbowne1 commented on #40
Possibly?

[2022-08-18 21:52] Sarabjeet108 opened #41 "Site not responsive"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-18 21:56] gbowne1 commented on #41
Yes, this is absolutely an issue.  It's repsonsive, but only so much.  I tested this in Chrome and using the mobile/tablet views in Devtools.  When you reduce the page the navbar is quite a mess.

The hamburger is not working all that great either.

[2022-08-18 21:59] gbowne1 opened #42 "feat: Icons and logo placeholder image"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

There is no favicon and no place for end user to place their logo.

###

[2022-08-18 22:28] #3 closed

[2022-08-19 12:02] Sarabjeet108 commented on #41
@jlmb54 just fork this project and start working. Once the issue is resolved, create a pull request.

[2022-08-19 17:49] jlmb54 commented on #41
I started working on the issue and for me the responsiveness of the navbar works quite well. Could you describe me the problem in more detail @Sarabjeet108? I have tested the project in the Chrome browser and Frefox in several screen sizes. When the screen size is less than 1.000px the buttons do disapear, but the burger menu appears and the navigation items are accessible through it.

[2022-08-19 18:10] Sarabjeet108 commented on #41
@jlmb54 t reduce the browser window and use the burger button. Now change back the browser window to the original size. The burger menu and all the buttons get disappeared.
try with the different window sizes while using the burger button.

[2022-08-19 18:49] gbowne1 commented on #41
Yeah it does have some issues.

The navbar needs completely redone anyhow.  I made a seperate issue with the required changes.

See #38 feat: Capabilities issue

About (about.html) needs a dropdown child of history with using a # link.

Capabilities gets child of services, equipment, material, etc.

Use the Bootstrap 5.2 Navbar.

I forgot the need for light mode/dark mode toggle too. And search fi

[2022-08-19 18:51] jlmb54 commented on #42
Hi, i started working on this issue as well and already did a merge request.

[2022-08-19 18:55] jlmb54 commented on #41
Thanks for the quick reply. I will have a look at it.

[2022-08-19 19:09] #42 closed

[2022-08-19 21:04] gbowne1 opened #45 "feat: add a boilerplate serviceWorker.js and manifest.json"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

feat: add a boilerplate serviceWorker.js and manifest.json

I think it w

[2022-08-19 22:18] gbowne1 opened #46 "comply witih cookie law"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-19 22:22] gbowne1 commented on #41
My logo is proprietary.. this is a template website.. I would prefer using a image placeholder instead of my logo.  But that favicon is good for a placeholder.

[2022-08-19 23:02] gbowne1 opened #47 "Add Content Security Policy"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-19 23:20] gbowne1 opened #48 "Colors for FontAwesome Social Icons"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-20 05:36] ArpitaGanatra commented on #48
Hey, I have created a pull request solving this issue.
Please take a look!

[2022-08-20 05:51] gbowne1 commented on #48
Thanks for your PR!

[2022-08-20 05:51] #48 closed

[2022-08-20 06:11] gbowne1 opened #50 "feat: Light Mode / Dark Mode toggle"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Add a Bootstrap 5.2 & FontAwesome 6.1.2 Toggle Button

Possibly use:

<i

[2022-08-20 19:41] gbowne1 commented on #45
See: https://github.com/gbowne1/spmssite/discussions/52

[2022-08-20 20:03] gbowne1 commented on #40
I always felt like the Article and Aside should be cards/contiainers.. which bring over current news, events, items from blog, etc.

[2022-08-20 21:20] gbowne1 opened #53 "feat: Add Google Analytics"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Add boilerplate code for Google Analytics

### Describe the Use Case

SE

[2022-08-20 22:15] gbowne1 commented on #8
Added a boilerplate jobs.html today via #54

Needs more styling, etc

[2022-08-21 19:53] gbowne1 commented on #37
Make sure everything meets ADA and WCAG standards for Web, including

https://www.w3.org/WAI/standards-guidelines/

[2022-08-22 09:09] gbowne1 opened #55 "Styling for jobs.html"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-22 09:20] gbowne1 opened #56 "Navbar"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-22 09:29] gbowne1 opened #57 "feat: Website Backend"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Most end users would likely use MariaDB, MongoDB, MySQL, Prisma, PostgeS

[2022-08-22 16:26] MirandaBrawnerSavannah commented on #55
I can start working on this. I'm new to this project, never contributed before, but I'll give it a try.

[2022-08-22 17:33] gbowne1 commented on #55
Alright. Thanks :-)

[2022-08-22 19:47] Rmichal503 commented on #8
Okey but I'll do this from start, this boilerplate has over 1k lines of code and I don't really want do style this

[2022-08-22 20:20] gbowne1 commented on #8
This is from the original site with minor redactions/changes.

Can you use much of it to create the new one?

Have a look at it first.

[2022-08-23 14:24] gbowne1 commented on #57
I am assuming most in a enterprise would chose self hosting an IIS.  This wpuld likely mean a SQL Server or MariaDB/MySQL

Startup companies and small businesses may choose Apache2, PHP, Perl, MySQL, MariaDB.. if its not hosted by a/the domain provider.

[2022-08-23 19:19] MirandaBrawnerSavannah commented on #55
I have some feedback about the content of the jobs form.

Do you think that the Date field at the top is necessary? It might make sense on a form that's printed out, but for an online form, we could use the system date from when they filled out the form.

I also think we should leave out the questions asking about someone's criminal record. Excluding people based on past legal trouble is not a goo

[2022-08-23 20:16] gbowne1 commented on #55
It's a very old form that resided on my original website.  So, yes, it needs a lot of work to be made current and legal.

The original form did allow us to print after it got sent to the ERP/MRP system and HR.

[2022-08-23 20:20] MirandaBrawnerSavannah commented on #55
Ok. What would you like me to do about the date, then? Leave the field and auto-fill it with the current date?

[2022-08-23 20:28] gbowne1 commented on #55
I don't know if it's really necessary to have the Date field.  But if it's left in the form, I am all for using

`<input type="date">` or `<input type="datetime-local">` but it should autofill.

If we add jQuery UI from their CDN there is a nice datepicker from:

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="a

[2022-08-23 20:35] gbowne1 commented on #55
I also forgot to add Google Recaptcha

https://developers.google.com/recaptcha/docs/v3

[2022-08-23 20:35] MirandaBrawnerSavannah commented on #55
Ok, thanks.

[2022-08-23 20:38] gbowne1 commented on #55
The original also included a blue background that was somewhere between light and medium blue but some may want a more pleasing background.. and make them into separate cards or panels in the UI, rather than `<br>` and `<hr>.`

[2022-08-23 20:54] #50 closed

[2022-08-23 21:10] #8 closed

[2022-08-23 21:24] gbowne1 commented on #40
Here is a little script that might help find the issue:

[code]

[2022-08-23 22:12] gbowne1 commented on #55
I might even suggest to put in stub links to external sites like monster.com or indeed so that the end user can link to their job listing sites/apps.

[2022-08-23 22:57] gbowne1 opened #63 "Missing FontAwesome Icons"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-23 23:42] #30 closed

[2022-08-24 03:16] developer-irfan commented on #63
@gbowne1 assign me this so i can add font awesome icons.

[2022-08-24 03:20] gbowne1 commented on #63
Alright.  Thanks! :-)

[2022-08-24 03:27] gbowne1 opened #64 "Minor Google Maps issue"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-24 03:41] gbowne1 opened #65 "MIME type errors in templates/rfq.html"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-24 03:41] gbowne1 commented on #65
This page is no longer styled anymore.

[2022-08-24 03:51] gbowne1 commented on #65
The link it gives in console for this is:

https://developer.mozilla.org/en-US/docs/Web/Privacy/Storage_Access_Policy/Errors/CookiePartitionedForeign

[2022-08-24 17:23] MirandaBrawnerSavannah commented on #55
Would you like me to replace all references to Seattle Precision Machine Shop in the text?

[2022-08-24 19:11] gbowne1 commented on #55
Yes, please remove all reference to my old business name.  Haven't named the actual template yet so just left it where it was when I stopped using it.  Thanks @MirandaBrawnerSavannah

[2022-08-24 20:07] MirandaBrawnerSavannah commented on #55
Sounds good. Another question: When you say it should be able to connect to the back end and send an email, do you have a back end set up yet? If not, can that be a separate pull request?

[2022-08-24 20:35] MirandaBrawnerSavannah commented on #55
Also, I'm not sure I understand why this list of links is divided into 2 parts. Is there a difference between the first set of links and the second set?

<img width="254" alt="Seattle Shop Links" src="https://user-images.githubusercontent.com/56093884/186518025-26fce938-123e-44dd-bae2-6bcec96d5223.png">

[2022-08-24 20:36] wyenelle commented on #63
are there any other issues with this project i cant hook into?

[2022-08-24 20:40] wyenelle commented on #34
assign me to this issue.

is it just to add a background image to your website?

[2022-08-24 20:42] wyenelle commented on #32
assign this to me

[2022-08-24 21:54] gbowne1 opened #67 "Contact page (contact.html)"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-24 21:55] gbowne1 commented on #63
@wyenelle I am going to add a number of issues soon. but there are plenty already.

[2022-08-24 21:57] gbowne1 commented on #55
I am no longer using this site.  but the database // backend work could/would be made easier if we ship a basic database // sql someone would have a easier time integrating.

As for the links those can be removed.. remnants of the old site.

[2022-08-24 21:59] gbowne1 commented on #32
When you commit // push show us a render.  I will approve if it looks good.

[2022-08-24 22:06] gbowne1 commented on #34
No, this particular issue is to add typical images to the quality page (which should ideally be quality.html)

Other than that.. I would assume the best thing to do would be to add a light/dark mode theme with the colors:

So.. I would add a theme.css and use the switch from about.html

Good theme colors are:
#0000ff blue
#000000 black
#808080 gray
#ffffff white
#c0c0c0 silver

The header has been

[2022-08-25 00:10] gbowne1 opened #68 "feat: Employee login"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Some businesses allow their employees to log in to the company intranet

[2022-08-25 05:48] #63 closed

[2022-08-25 08:57] wyenelle commented on #32
so I'm just to add a gallery to the page with carousels

[2022-08-25 13:38] MirandaBrawnerSavannah commented on #55
I posted a pull request with the work I've done so far.
https://github.com/gbowne1/spmssite/pull/70

[2022-08-25 16:51] gbowne1 commented on #55
Alright.  I will have a look. Its marked as a draft PR which arent able to be merged.

Thanks for the PR!

[2022-08-25 18:45] #55 closed

[2022-08-25 19:17] gbowne1 opened #71 "serviceWorker.js and manifest.json"
### Discussed in https://github.com/gbowne1/spmssite/discussions/52

<div type='discussions-op-text'>

<sup>Originally posted by **gbowne1** August 20, 2022</sup>
I'd like to propose we add a serviceWorker.js and manifest.json so that the browser can pick it up.  It may help, especially in Firefox.  i know that this is mainly for PWA's but I've seen several sites make use of these files.

Here's a

[2022-08-26 00:35] gbowne1 opened #72 "feat: add VSCode launch.json and tasks.json for this project"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

launch.json and tasks.json need to be finished.

including Launch & Atta

[2022-08-26 01:23] gbowne1 commented on #46
I might suggest adding:

[code]

[code]

And adding the tags:

`<script src="cookieConsent.js"></script>`

[2022-08-26 01:56] gbowne1 commented on #56
Current state of the Navbar:

![Screenshot 2022-08-25 at 18-55-53 Seattle Precision Machine Shop](https://user-images.githubusercontent.com/47549872/186799977-ec6f27a7-420e-4b04-8116-646f7297114f.png)

[2022-08-26 17:00] Traceydh commented on #67
Hello I would like to give this a try, can you assign it to me? :)

[2022-08-27 16:51] gbowne1 opened #74 "Libraries"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-27 16:56] gbowne1 commented on #74
This the bootstrap 5.2 JavaScript CDN is also missing from the head

`<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js" integrity="sha512-8Y8eGK92dzouwpROIppwr+0kPauu0qqtnzZZNEF8Pat5tuRNJxJXCkbQfJ0HlUG3y1HB3z18CSKmUo7i2zcPpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>`

[2022-08-27 19:22] mehakg867 commented on #74
Can I work on it..?

[2022-08-27 19:33] gbowne1 commented on #74
Sure. I will assign you.

[2022-08-27 21:07] gbowne1 opened #75 "Current index.html issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-08-27 21:14] gbowne1 commented on #67
This is also missing an "How did you find us?" field

[2022-08-27 21:47] Traceydh commented on #67
Ok sure I'll add a 'how did you find us' field in the form.

[2022-08-27 21:48] gbowne1 commented on #67
Thanks! :+1: :-)

[2022-08-28 17:08] Traceydh commented on #67
Hey, this might be an obvious question but I'm kinda new to this.
When I opened the project in chrome I can see that _navbar.scss is styling the contact page. However, looking through the folder I downloaded from github I can only see styles.css.
From googling I understand that _navbar.scss is a SASS file (from Ruby), how do I access and edit this file? I can't make meaningful changes via only edi

[2022-08-28 20:03] gbowne1 commented on #67
Yes, no worries at all. As for the styles, there is only styles.css

The stylesheet link in the contact.html page is `<link rel="stylesheet" href="../src/css/styles.css" />` and normally Bootstrap 5 CDN (Content Delivery Network) sends out its styles via the CDN links in the head tag, which are all scss.. this includes "_navbar.scss" and those files are not editable.

The file you should edit is s

[2022-08-29 13:32] mehakg867 commented on #56
Do you need search button and column or not
and assign to me can i work on it..?

[2022-08-29 17:14] gbowne1 commented on #56
@mehakg867 this issue has been fixed.

[2022-08-30 02:42] gbowne1 commented on #75
CDN's were fixed to include updated versions as well as include the missing CDN's for CSS and JavaScript for Bootstrap an FontAwesome and Popper.js

[2022-08-30 02:43] gbowne1 commented on #74
Libraries were fixed today Aug 29, 2022 to include updated and missing CDN's for Bootstrap, FontAwesome and PopperJs.

[2022-08-30 02:43] #74 closed

[2022-08-30 17:39] Traceydh commented on #67
I see, that makes sense thanks!

[2022-08-30 19:25] gbowne1 commented on #67
@Traceydh

No worries.  you're welcome.

[2022-08-30 21:21] gbowne1 commented on #64
Here is the fix:

https://stackoverflow.com/questions/71990197/how-to-address-adddomlistener-deprecation-in-google-maps

[2022-08-30 22:10] gbowne1 commented on #47
This is coming from Google Maps:

Here is some reference docs:

https://developers.google.com/maps/documentation/javascript/content-security-policy
https://stackoverflow.com/questions/13228825/google-maps-api-script-does-load-due-to-content-security-policy
https://content-security-policy.com/examples/google-maps/

[2022-08-31 06:26] gbowne1 opened #78 "Google Maps Issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-01 17:13] gbowne1 opened #81 "Fix the Yaml Pull request template"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-01 20:56] gbowne1 opened #82 "feat: backend: Add minimal boilerplate-lorem ipsum fake-data database(s)"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Create and pack minimal databases, with some fake lorem ipsum data and a

[2022-09-02 01:53] #65 closed

[2022-09-02 02:07] gbowne1 commented on #39
Here is a good blog example that could be modified to work.

https://www.solodev.com/blog/web-design/creating-a-blog-with-bootstrap.stml

[2022-09-02 02:10] gbowne1 commented on #82
I might suggest using Mockaroo

https://www.mockaroo.com/

[2022-09-02 04:30] gbowne1 commented on #81
It sometimes looks like this in the first area when you do a PR.

name: Pull Request template
description: Create a pull request to help us improve
title: "[PULL REQUEST] "
labels: [enhancement]
assignees:

body:

    type: textarea
    id: summary
    attributes:
    label: Summary
    description: Briefly describe the change
    validations:
    required: true

    type: input
    id: issue-link

[2022-09-02 04:39] gbowne1 commented on #41
In my testing the site is responsive on Google Chrome @ 990 - 992 x 600 through max.  Doesn't look very good when under that size.  The responsive hamburger doesn't appear till 990-992 x {random height} .

[2022-09-03 08:06] gbowne1 commented on #46
I would also suggest the text,

"This site is using cookies..." in a small closeable stripe just above or at the bottom of the footer with a accept and  or close/cancel button.

[2022-09-03 08:12] gbowne1 opened #84 "Add a Privacy policy and terms and conditions"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-03 08:53] gbowne1 opened #85 "Fix capabilities.html"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-03 09:08] ighmaZ commented on #84
hi , i wanna contribute to this issue

[2022-09-03 16:15] ketsebaotgizachew commented on #78
didn't see any errors given by google maps does it still exist or has it been fixed

[2022-09-03 16:40] gbowne1 commented on #47
@ketsebaotgizachew @ketse-py

[2022-09-03 17:09] ketsebaotgizachew commented on #64
i am on the about us page which clearly contains a map but the only error in the console is a favicon not loading I don't see any errors
is the issue only on firefox i dont have firefox installed so i didnt test it but no google maps errors or warnings in chrome and edge

[2022-09-03 17:25] gbowne1 commented on #64
Yes It is in Firefox, my primary browser.

I checked Chrome too.

Firefox issues are tough to track down.

[2022-09-03 17:26] gbowne1 commented on #64
Favicon not loading is just a bad link to the file.

[2022-09-03 19:24] gbowne1 commented on #78
Well @ketsebaotgizachew looks like if we are to acheive little to no errors in browsers we will have to do lots of useability and different browser testing.

Firefox can be a pain.

I will do another round of Google Lighthouse tests today in Google Chrome.

There is also no breakpoints for laptop views.  Someone might be looking at the site on iPad and Laptops.  I would also test in Windows 10 nat

[2022-09-03 23:42] gbowne1 opened #87 "feat: Filetype exclusion in file upload"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Here's the concept..

Under the "accept" of a file input, there can also

[2022-09-04 00:49] gbowne1 opened #88 "feat: add 404 page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

Make a pretty or pretty good 404 page when a page is not available or no

[2022-09-04 03:41] gbowne1 commented on #84
Sure.  @ighmaZ

[2022-09-04 03:43] gbowne1 opened #89 "Dark mode switch inconsistent between Chrome and Firefox positioning"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-05 04:56] gbowne1 commented on #68
Make the login form modal.

Could be something like this..

https://codepen.io/JOSHUAHANSON/pen/qOzboN

[2022-09-05 05:03] ketsebaotgizachew commented on #78
after a couple of investigation that i have been doing the Content Security Policy: Ignoring “'report-sample'” within script-src: ‘strict-dynamic’ specified  and other errors are happening b/c google maps server conflicts with firfox csp but nothing more . wont cause problems so it is safe to ignore

[2022-09-05 05:04] gbowne1 commented on #78
Yes, it's a known issue.  Not a priority issue to deal with at the moment.

[2022-09-05 05:24] gbowne1 opened #90 "feat: careers.html is too large of a page especially in mobile."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

I was just thinking that the careers.html page is pretty long.

It would

[2022-09-05 05:25] gbowne1 commented on #90
It's also relatively unstyled.. so it doesn't really look the greatest yet.

[2022-09-05 05:53] #78 closed

[2022-09-05 05:54] gbowne1 commented on #68
Maybe even something like this:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form

[2022-09-05 05:58] gbowne1 commented on #53
See https://tagmanager.google.com/#/home for docs on Tag Manager

[2022-09-05 19:13] gbowne1 opened #91 "Added text to UI common to *most* industrial businesses"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-05 20:10] VincentWoglo commented on #88
Can you assign this one to me

[2022-09-05 20:12] gbowne1 commented on #88
Ok. There's an example in here: https://github.com/taotnpwaft/website

[2022-09-05 20:44] gbowne1 commented on #91
Good text to add to somewhere on the site pages.

What makes us different from our competition?

{Business Name here} is known for its expedited {insert type of services here } services while maintaining our high quality assurance standards. We are {Cert Name here} certified precision machine shop and have an excellent reputation with our customers. With that said, we are known for producing high

[2022-09-05 20:47] gbowne1 commented on #91
Explore how our vast capabilities can assist you on your { . . . } needs!
Competitive Advantage (bold)

Here at {business name}, we can manufacture your parts from simple to complex. Whether it’s one part or one hundred, our advanced { ... } process is designed for efficiency and speed. With the application of our various capabilities, your custom part will be tooled onsite at our facility. So whe

[2022-09-05 21:35] gbowne1 opened #92 "Working Search bar"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-05 23:58] gbowne1 opened #93 "feat: Prepare site for 1.0 release and start tagging releases."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

I don't know how git and GitHub's releases work and how we would tag rel

[2022-09-06 19:12] gbowne1 commented on #91
@ketsebaotgizachew @ketse-py

Something for the capabilities page?

[2022-09-08 01:48] gbowne1 opened #97 "Add PWA stuff"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-09 06:56] gbowne1 commented on #92
@ketsebaotgizachew @ketse-py

[2022-09-13 02:17] gbowne1 opened #98 "Site no longer responsive or scrolling"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-13 02:19] gbowne1 opened #99 "Broken Dark Mode/Light Mode Switch"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-13 14:18] ramyashreeshetty commented on #99
Hey, we can do two things one is to change it into a button and placing beside the search bar OR we can move it into the top position.

![image](https://user-images.githubusercontent.com/43513353/189925706-1b0d4b22-18df-4d35-a915-770770a353a9.png)

[2022-09-13 15:10] ramyashreeshetty commented on #99
let me know if this looks appropriate.
![image](https://user-images.githubusercontent.com/43513353/189938747-62f6471b-1909-4304-baf1-91bc26b6e24b.png)

[2022-09-13 16:12] gbowne1 commented on #99
Yeah thats a lot better

[2022-09-13 16:29] ramyashreeshetty commented on #99
I sent a PR. its for the test branch do check it.

[2022-09-13 16:36] gbowne1 commented on #99
Ok I will test it out.

It will be 3-4 hours from now till I am able to test.

Thanks for the PR.

If you would like other things to work on I have other issues here:

https://github.com/gbowne1/personalsite

https://github.com/taotnpwaft/website

[2022-09-13 16:38] ramyashreeshetty commented on #99
Okay thanks

[2022-09-13 16:42] gbowne1 commented on #99
The bottom one needs a lot of work still.

[2022-09-13 16:43] ramyashreeshetty commented on #99
https://github.com/taotnpwaft/website <- u mean this one?

[2022-09-13 16:48] gbowne1 commented on #99
Yes.  I haven't had time to work on it.

The header.php needs to be finished

You can write it in html inside the php file and I'll finish it.

The index.html shows what the header and navbar looks like.

[2022-09-13 19:08] gbowne1 commented on #99
Tested and merged back to main. @ramyashreeshetty

[2022-09-13 19:14] #99 closed

[2022-09-13 19:17] gbowne1 opened #102 "Dark Mode contrast between nav bar and body"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-13 19:18] #98 closed

[2022-09-13 19:58] gbowne1 opened #103 "Capabilities page issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-14 19:49] #85 closed

[2022-09-15 04:57] gbowne1 opened #104 "Clean up the CSS or move to SCSS"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-15 05:37] Pathholder1806 commented on #102
Hey @gbowne1 !
I would like to look into the issue!

[2022-09-15 05:49] Pathholder1806 commented on #102
@gbowne1 !
I looked up into the issue and I would like to contribute to it!

So looking into the issue there are 2 possible solutions for adding the contrast:
- Make the navbar more darker than the body.
- Make the navbar slightly lighter than the body.
Which one would you prefer so that we can move ahead

This is when we move navbar background one shade **lighter** than the body
![image](https://

[2022-09-15 05:53] gbowne1 commented on #102
Sure,

I would prefer the darker shade, but that may need some A vs B testing for some end users.

[2022-09-15 05:55] Pathholder1806 commented on #102
Hey @gbowne1 !
So let me generate the Pr with my proposed darker shade and then we can make further updates.

[2022-09-15 05:55] gbowne1 commented on #102
I would wait till the next merge is complete.. unless there would be no merge conflicts.

[2022-09-15 06:07] Pathholder1806 commented on #102
Hey @gbowne1 !
My branch went into a merge conflict. Are there any other changes coming from another merge ?

[2022-09-15 06:08] gbowne1 commented on #102
Yes.
I added the major changes I did today after some testing which just finished.
Go back and sync.

[2022-09-15 06:08] gbowne1 commented on #102
I sent you an invite too/

If you didn't get it let me know.

[2022-09-15 06:11] Pathholder1806 commented on #102
Yes I received the invitation. Thank you!
I synced my branch now shall I create a PR again ?

[2022-09-15 06:13] gbowne1 commented on #102
Yeah, Please do.  I also sent an invite to my org.  there are projects there to work on if you like.

[2022-09-15 06:20] Pathholder1806 commented on #102
Hey @gbowne1 !
Generated the PR. Kindly review my proposed changes and suggest any further updates if any!

[2022-09-15 06:22] #102 closed

[2022-09-15 06:24] gbowne1 commented on #102
Review done and merged.  Looks good.

If you didn't get it.. go here: https://github.com/orgs/taotnpwaft/teams and request to be on a team including member.

Thanks for the PR!

[2022-09-15 06:32] gbowne1 commented on #102
Quite a bit of testing still needs done with this particular project.

[2022-09-15 06:36] Pathholder1806 commented on #102
Always up for lending a helping hand🤝🏻

[2022-09-15 06:37] gbowne1 commented on #102
There's plenty to do.  I have a new issue with the about page.. notice how the content scrolls above the jumbotron/hero and navbar.

[2022-09-15 06:38] gbowne1 commented on #102
Don't see a project you'd like to do in the org.  I will take suggestions that will improve the community.

[2022-09-15 06:41] gbowne1 opened #108 "About page current issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-15 06:52] gbowne1 opened #109 "Employee Login modal does not work."
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-15 07:06] gbowne1 commented on #46
Recent merge fixes this.

[2022-09-15 07:06] #46 closed

[2022-09-15 07:10] gbowne1 commented on #90
I would suggest making this part of the site's next steps towards 1.0

[2022-09-15 07:12] gbowne1 commented on #68
Recent merge adds the button to the header/jumbotron/hero, but the modal needs completed and working.

[2022-09-15 07:12] #68 closed

[2022-09-15 08:19] gbowne1 commented on #84
Added with recent merge.

[2022-09-15 08:19] #84 closed

[2022-09-16 05:05] gbowne1 opened #111 "index.html's dropdowns are not working but on other pages they work"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-16 05:06] gbowne1 commented on #104
Please see: #110

[2022-09-16 05:07] gbowne1 commented on #90
@Pathholder1806 not sure what to do about this.  This still needs a LOT of work.

[2022-09-16 08:40] gbowne1 commented on #7
Also consider adding preloads, prefetch and preconnects to help page load speeds especially for Google based resources.

[2022-09-16 08:43] gbowne1 commented on #7
https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch

[2022-09-16 09:20] SergeyKharkovshchenko commented on #111
Hey, I think I can take care of this issue. Could you please assign it to me?

[2022-09-16 11:42] devAdrish commented on #109
I can help

[2022-09-16 11:43] devAdrish commented on #109
can u assign this to me.

[2022-09-16 14:59] gbowne1 commented on #111
Ok @SergeyKharkovshchenko

[2022-09-16 15:00] gbowne1 commented on #111
Ok @SergeyKharkovshchenko

[2022-09-16 15:01] gbowne1 commented on #109
Ok @devAdrish

[2022-09-16 20:20] NageshMandal commented on #108
I want to work on this issue. Could you please assign it to me.

[2022-09-16 20:21] gbowne1 commented on #108
Ok.

[2022-09-16 23:28] #109 closed

[2022-09-17 03:23] gbowne1 opened #114 "Employee Login Button & Modal"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-17 03:24] gbowne1 commented on #108
Closed with fixed by recent merge.

[2022-09-17 03:24] #108 closed

[2022-09-17 03:32] gbowne1 commented on #88
Here's an example..
![Screenshot 2022-09-16 at 20-16-21 404](https://user-images.githubusercontent.com/47549872/190838952-47d69bb8-3414-4e5d-81b6-b3088b17d8a7.png)

and the color is #007aff

[2022-09-17 04:23] gbowne1 opened #115 "About page about.html remaining issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-17 06:28] NageshMandal commented on #115
I want to work on this issue. Could you please assign it to me.

[2022-09-17 06:30] gbowne1 commented on #115
Ok @NageshMandal Thank you for the last PR.

[2022-09-17 09:20] SoyebSarkar opened #116 "Image link is broken in index.html"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [x] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-17 13:09] SoyebSarkar commented on #116
@gbowne1 I want to fix this problem

[2022-09-17 16:01] gbowne1 commented on #116
Its a placeholder for an image.

You can use logoipsum.com and pick a suitable logo to use.

Either way, make sure all of the headers get logos.

[2022-09-17 18:15] gbowne1 opened #119 "feat: I have updated the README.md"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md)
- [X] I agree to follow the [Code of Conduct]().
- [X] I have searched for [existing issues]() that already include this feature request, without success.

### Describe the Feature Request

I have updated the README.  The contributing docs need updated as well.

[2022-09-17 18:18] SoyebSarkar commented on #116
ok please assigned me this I need permission for pr
<img width="594" alt="image" src="https://user-images.githubusercontent.com/96381266/190871083-e0647229-c966-44ef-a1ce-72d470fc3ed9.png">

[2022-09-17 18:38] SoyebSarkar commented on #116
I have created a pr #120 @gbowne1 please review and let me know if it is ok

[2022-09-17 18:48] SoyebSarkar commented on #116
<img width="720" alt="image" src="https://user-images.githubusercontent.com/96381266/190872078-3413150d-1de9-408a-9734-88753e59ae92.png">
I have created a pr #120 @gbowne1 please review and let me know

[2022-09-17 19:55] knownasaritra commented on #114
can I work on this ?

[2022-09-17 20:06] gbowne1 commented on #114
Sure @knownasaritra

[2022-09-17 20:22] gbowne1 commented on #116
I would certainly use a logo, but not one with Logoipsum branding.

[2022-09-17 21:02] SoyebSarkar commented on #116
thank you for your review
<img width="744" alt="image" src="https://user-images.githubusercontent.com/96381266/190876297-7d932529-15c7-46ad-8337-ac74111dec02.png">

<img width="616" alt="image" src="https://user-images.githubusercontent.com/96381266/190876314-334bb69e-faaa-413b-ab81-e584b53c828d.png">
I changed the logo, please check and let me know

[2022-09-17 23:30] gbowne1 opened #121 "Things to work on and minor issues"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-09-17 23:32] gbowne1 commented on #121
If you want to, you can convert any of these to issues.  click the [ ] and then hover over the item and if you look you will see a circle on the right of the panel up there ^ and it should say convert to issue.

Many of these things are already issues in the issue tab.  So have a look first but this is an overview of tasks to be done.

[2022-09-19 02:27] gbowne1 commented on #104
I was thinking the other day that a number of lines in this styles.css file were meant for individual pages.

That stuff could be moved to individual files for each component and maybe even try adding a index.css for global styles  like a node/express/react app would have.

A side note here:
I am sure one could write a index.js or app.js to run some of the sites functions in jQuery or JS.

[2022-09-19 09:34] knownasaritra commented on #114
@gbowne1 current WIP, I am doing the validations based on a test  array inside the validation script, is it fine ?

[2022-09-19 13:40] #116 closed

[2022-09-19 15:30] SoyebSarkar commented on #111
hey, @gbowne1 I want to contribute, I think I can fix this

[2022-09-19 16:07] gbowne1 commented on #114
@knownasaritra

Yes, that is fine.

[2022-09-19 16:10] gbowne1 commented on #111
Ok @SoyebSarkar

[2022-09-19 16:39] SoyebSarkar commented on #111
<img width="375" alt="image" src="https://user-images.githubusercontent.com/96381266/191068690-d98c1e7b-94a1-47a9-80f3-012153c3bccb.png">

@gbowne1 now it's working, please review it and let me know if it is ok

[2022-09-19 23:43] gbowne1 commented on #111
Seems to work fine now.

[2022-09-19 23:43] #111 closed

[2022-09-20 09:54] Janvcd commented on #114
Can I work on this for you??

[2022-09-20 09:54] Janvcd commented on #88
Can you assign this to me??

[2022-09-20 09:56] gbowne1 commented on #114
Sure

[2022-09-20 09:58] gbowne1 commented on #88
Sure @Janvcd

[2022-09-20 10:14] VandanaPabale commented on #92
can I resolve this issue?

[2022-09-20 17:55] gbowne1 commented on #92
Yes @VandanaPabale

[2022-09-21 07:37] knownasaritra commented on #114
@gbowne1 I did these:

- Needs border radius on right side of fields.
- Needs some form of validation, with error messages using one of the usual PHP, JavaScript, Ajax, jQuery etc.
- This needs labeled fields.
- Some styling of modal
- ~~Show logged in and logged out status~~ , not getting logged out status, can you please explain it ?

[2022-09-21 14:51] gbowne1 commented on #114
@knownasaritra thats great.  Thanks.

There should be some way of show that the user has been logged out.

Here is a stackoverflow post that might help.
https://stackoverflow.com/questions/10051586/how-to-log-out-showing-the-proper-status

[2022-09-21 21:30] gbowne1 commented on #114
Anyone working on this, The modal also needs a cancel button.

[2022-09-22 02:04] knownasaritra commented on #114
I have added code for the cross button for the modal , I will add the cancel button as well

[2022-09-22 02:08] gbowne1 commented on #114
Great thanks @knownasaritra

[2022-09-24 01:07] gbowne1 commented on #114
@knownasaritra @Janvcd  do you have a PR ready?

[2022-09-24 02:31] knownasaritra commented on #114
@gbowne1 I will provide by today , got busy , really sorry

[2022-09-24 07:29] Janvcd commented on #114
@gbowne1 On it. Was busy in some work.

[2022-09-24 07:37] gbowne1 commented on #114
Ok.  Thanks.

[2022-09-24 10:54] knownasaritra commented on #114
@gbowne1 my pull request is drafted , please have a look , due to time constraint I could not work on the style and positioning of the **logout button**  and the **logged in status**, please have a look and let me know.

[2022-09-24 19:58] gbowne1 commented on #114
Merged.  Thanks for the PR.  @ak090498

[2022-09-24 20:03] gbowne1 commented on #114
Anyone that wants to finish the work in the employee login form can do so.

[2022-09-25 05:04] ak090498 commented on #114
@gbowne1 thanks for merging it's my first PR glad I could make it

[2022-09-26 00:08] gbowne1 commented on #114
@ak090498 you're welcome.  I see you joined the Discord too.  Feel free to contribute to our projects

https://github.com/taotnpwaft/

[2022-09-27 10:27] tejask1730 commented on #67
hello i want to resolve this issue pls can you guide?

[2022-09-27 10:30] tejask1730 commented on #20
i would like to work on it,Can you Guide me for this?

[2022-09-27 16:10] gbowne1 commented on #67
@tejask1730 are you a student or just learning?

[2022-09-27 16:12] gbowne1 commented on #20
@tejask1730 are you a student or just learning?

[2022-09-27 18:50] gbowne1 commented on #20
@tejask1730 I would not consider the tasks you chose to be beginner level.  Theres a list of issues that are more suitable for beginners.

Please have a look through this list of issues.

https://github.com/gbowne1/spmssite/issues/121

[2022-09-28 05:05] tejask1730 commented on #67
I am Engineering student

On Tue, Sep 27, 2022, 9:41 PM Gregory Bowne ***@***.***>
wrote:

[2022-09-28 05:32] gbowne1 commented on #67
Ok @tejask1730

[2022-09-30 04:32] gbowne1 commented on #121
@ak090498  have you looked into any of these yet?

[2022-09-30 04:40] ak090498 commented on #121
sure I will check and work on these if possible, actually got busy in work

[2022-09-30 04:46] gbowne1 commented on #121
No worries, just wanted to make sure you were aware of other things to work on.

[2022-10-02 23:38] BrianAndrewOneil commented on #87
Hello, I'd be happy to help you with this issue. Could you assign it to me? Thank you.

[2022-10-03 00:29] BrianAndrewOneil commented on #87
@gbowne1 sorry to bother you, I just realized that I didn't @ you and I'm not sure if that's required for you to see this.

[2022-10-03 00:30] gbowne1 commented on #87
no it's not @BrianAndrewOneil but yes you can help.

[2022-10-03 00:35] gbowne1 commented on #87
This was meant for this file:

https://github.com/gbowne1/spmssite/blob/main/templates/rfq.html

[2022-10-03 12:24] BrianAndrewOneil commented on #87
Okay, thank you, this makes sense. I'll work on this today.

[2022-10-03 16:41] gbowne1 commented on #87
Ok. Great. Thanks! :-) @BrianAndrewOneil

[2022-10-04 01:27] gbowne1 commented on #87
Great @BrianAndrewOneil

thanks for submitting a PR.  I will test it and if it see if it works fine.

[2022-10-04 01:44] #87 closed

[2022-10-04 03:16] #114 closed

[2022-10-05 16:32] gbowne1 commented on #121
@ak090498

Yes there are quite a few issues.

They can be made into individual issues

If you need something to be an individual issue let me know but any item with a [ ] can be made into a seperate issue on GItHub by hovering on the item text and clicking on the circle that appears to the right of its text.

[2022-10-08 18:58] gbowne1 opened #125 "A bug in the scrolling for rfq.html. At least this happens in Firefox, If you open up the browser console and pull up the console. The content behaves very weirdly and pushes outside of the container. Try dragging up the console handle and watch the content while viewing rfq.html This seems to only effect the fields in the left portion of the container."

[2022-10-09 09:16] mominry commented on #88
Can you please assign this issue to me

[2022-10-09 16:01] gbowne1 commented on #88
Ok @mominry

[2022-10-13 00:12] gbowne1 commented on #88
PR #126 closes this.

[2022-10-13 00:12] #88 closed

[2022-10-15 09:05] tejask1730 commented on #125
@gbowne1 i am a final year student of engineering , we have been assigned the role to contribte to open source i can work on this can you assign me the task

[2022-10-15 09:10] gbowne1 commented on #125
Ok @tejask1730

[2022-10-15 09:26] gbowne1 opened #127 "Contrast and text label issues still exist. Add the background image in the space between header and footer.. possibly transparent? I originally used a metallic brush finish style."

[2022-10-15 09:27] gbowne1 opened #128 "Fix FontAwesome Social icons so that the links have a discernable name and alt text for screen readers and accessibility features.They also need text labels. They also could be slightly larger for visibility and ease of use in mobile view."

[2022-10-18 06:36] gbowne1 opened #130 "Dark Mode does not persist between same page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-10-18 07:03] gbowne1 opened #131 "Missing Testimonials in About page"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-10-18 07:05] gbowne1 opened #132 "Make some bash and/or powershell scripts that ship versions of the site"

[2022-10-18 07:10] gbowne1 opened #133 "Possibly make reuseable Web components"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-10-18 07:12] gbowne1 commented on #92
Closed by PR #129

[2022-10-18 07:12] #92 closed

[2022-10-18 10:24] Halim-Shams commented on #130
Hey, can give me some more info like, which frontend framework you are using? if you are using ReactJS I can help you with that.

[2022-10-18 15:54] gbowne1 commented on #130
@Halim-Shams

This does not use a framework of any kind.

[2022-10-19 09:46] Rikarox commented on #104
Hello, I understand what you want to achive and I would like to work on this issue, can you assigne me?

[2022-10-19 16:01] gbowne1 commented on #104
Oo @Rikarox Thanks.

[2022-10-20 18:37] gbowne1 opened #134 "Add Twitter and OpenGraph meta tags to head"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-10-22 19:54] gbowne1 opened #136 "Missing and incomplete pages"
### Prerequisites

- [X] I have read the [Contributing Guidelines](https://github.com/gbowne1/spmssite/blob/main/.github/CONTRIBUTING.md).
- [X] I agree to follow the [Code of Conduct](https://github.com/gbowne1/spmssite/code-of-conduct).
- [X] I have searched for [existing issues](https://github.com/gbowne1/spmssite/issues) that already report this problem, without success.

### Current Behavior

[2022-11-14 21:16] gbowne1 commented on #104
The changes look good.

I am approving merge.